APP_NAME="CN Community Platform 2026"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://www.cncommunity.nl
APP_TIMEZONE=Europe/Amsterdam
APP_LOCALE=nl

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=45.82.189.212
DB_PORT=3306
DB_DATABASE=cn_community_awards_2026
DB_USERNAME=CNAwardBeheer
DB_PASSWORD=

# Alleen tijdelijk nodig voor import uit de oude CN-database.
LEGACY_DB_HOST=
LEGACY_DB_PORT=3306
LEGACY_DB_DATABASE=
LEGACY_DB_USERNAME=
LEGACY_DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_COOKIE=cn_awards_session
SESSION_SECURE_COOKIE=true
CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@cncommunity.nl
MAIL_FROM_NAME="${APP_NAME}"

DISCORD_CLIENT_ID=731808285778509904
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI="${APP_URL}/auth/discord/callback"
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=1429885908815183972
DISCORD_WEBHOOK_URL=
DISCORD_ROLE_MEMBER=1430158831614169108
DISCORD_ROLE_OWNER=1430151634629165118
DISCORD_ROLE_ADMIN=1430151801566662749
DISCORD_ROLE_MANAGEMENT=1430151677796679750
DISCORD_ROLE_JURY=1498208648172802109
DISCORD_ROLE_MODERATOR=1430151892218019995
DISCORD_ROLE_HELPER=1430151956499927100
DISCORD_ROLE_WK_CHAMPION_2026=

CN_DISCORD_INVITE=https://discord.gg/dG7HRqVa9J
CN_TWITCH_URL=https://www.twitch.tv/communitycn

NOMI_AI_ENDPOINT=
NOMI_AI_TOKEN=
INSTALLATION_LOCKED=false
