/.env
/.phpunit.cache
/.phpunit.result.cache
/bootstrap/cache/*.php
/public/storage
/storage/*.key
/storage/logs/*.log
/vendor
/work
/outputs
/app.zip
*.zip
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
.DS_Store
Thumbs.db
